/*
	Featured Content Slider
	by: Chris Coyier


					  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }



/*
	PAGE STRUCTURE
*/
#page-wrap 									{ width: 50%;  position: relative; height: 300px; margin-left: auto; margin-right:auto; top: 20px; 
										 }


/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 100%; position: absolute; top: 65px; }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 100%; height: 282px; background: white; border: 1px dotted #ccc; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 850px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: -47px 0 0 62px;}
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ padding: 10px; height: 30px; 
											  margin-top: -40px; position: relative; z-index: 8000; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -10px; 
											  position: relative; padding-top: 15px; z-index: 8000; }
.active-thumb 								{ background: transparent url(images/icon-uparrowsmallwhite.png) top center no-repeat; }
.wrapper {width: 100%};






