.mod_bannerslider {
	position: relative;
	overflow: hidden;
}
.mod_bannerslider .bs_opacitylayer {
	width: 100%;
	height: 100%;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.mod_bannerslider .bs_contentdiv {
	display: none;
}