html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#overlay {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: url('../images/overlay.png') repeat 0 0;
    display: none;
    text-align: center;
}

#overlay-panel {
    margin: 10% auto 0 auto;
    width: 350px;
    background: #FFF;
}

/** ie6 and below only **/
* html #overlay {
    background-image: url('../images/overlay-ie6.png');
    height: 100%;
    position: absolute;
}