@charset "utf-8";
/* CSS Document */

body {
	background:url(../images/bg_dotted.png);	
	padding:0;
	margin: 0;
	font: normal normal normal 11px/normal Verdana, Arial, Helvetica, sans-serif;
	
	
	
	
}

blockquote
{
		border:solid 1px #b7ddf7; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#f4fbff;
	background-image:url('../images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}

blockquote,
blockquote p
{
	color:#140F00;
font-family: Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-align: left;
}

#login-top {
	float: right;


}

#top-container {
	margin-top: 20px;
	width: 950px;
	margin-left:auto;
	margin-right: auto;
	height: 20px;
}

#short-news {
	width: 80%;
	margin-top: 10px;
	margin-left:auto;
	margin-right: auto;
	border-bottom: 1px solid #ccc;
	padding: 3px;
	padding-left: 10px;
	border-top: 1px solid #ccc;
	
}

h3 {
 margin: 0;	
}


.article {
	height: auto;
	width: 80%;
	margin: 20px;
	margin-left:auto;
	margin-right: auto;

	
}

.article-header {
	font-size: 15px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
    padding: 6px 12px !important;
    margin: 10px 10px 10px 10px !important;
    overflow: hidden;
     border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #a2b6c9;
    background: #C6D8E9 url(http://img403.imageshack.us/img403/3301/bgmaintitle.png)  repeat-x;
	color: #666;
	
	
}

.article-content {
	color: #666;
	padding: 10px;
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	
}

#menu-container {
	background: url(../images/top_bar.png) repeat-x;
	height: 44px;
	overflow: hidden;
	padding: 10px;
	padding-left:0;
	
	padding-right: 0;
	border-bottom: 1px solid #ccc;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	
}

.bottom-list {
	list-style: none;
	padding: 0;
	
	
}

#container {
	width: 950px;
	height: auto;
	margin-left:auto;
	margin-right: auto;
margin-top: 20px;
	 -moz-box-shadow: 2px 2px 3px #ccc; /* Firefox/Mozilla */
  -webkit-box-shadow: 2px 2px 3px #ccc; /*Safari/Chrome */
  box-shadow: 2px 2px 3px #ccc; /* Opera & hoe het zou moeten */
  /* Voor IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cccccc')";
  /* Voor IE 5.5 - 7 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cccccc');
 	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid #ccc;
		-moz-border-radius: 10px;
		 -webkit-border-radius: 10px;
	margin-bottom: 10px;

	
}

#content {
	padding: 5px;
	background: #FFFFFF;
	color:#20577e;
	height: auto;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
			-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#text-content {
	padding: 10px;
	
}

#loginFormTop {	
}

#sitefooter {
	text-align: left;
	
	height: auto;
	
	color: #ccc;
	font-size: 10px;
	
}

#sitefooter a {
	color: #ccc;
}
#sitefooter a:hover {
	color: #36F;
}

/** 

 * Slideshow style rules.

 */

#slideshow {

	margin:0 auto;

	width:100%;

	height:263px;

	background: url(../images/slider_bg.png); border-bottom: 1px solid #a2c0d5;
	z-index: 2;
	position:relative;

}

#slideshow #slidesContainer {

  margin:0 auto;
  
  z-index: 1;
  
 width: 910px;

  height:263px;

  overflow:auto; /* allow scrollbar */

  position:relative;

}

#slideshow #slidesContainer .slide {

  margin:0 auto;

  width:900px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
	
  height:263px;

}

#slideshow #slidesContainer .slide p {
	  font-family: "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
	  font-weight: normal;
	
}

.smalltext {
	font-weight:bold;
	font-size: 10px;
}



/** 

 * Slideshow controls style rules.

 */

.control {
	z-index: 999;

  display:block;

  width:39px;

  height:263px;

  text-indent:-10000px;

  position:absolute;

  cursor: pointer;

}

#leftControl {

	z-index: 999;
  top:70px;

  left:0;
	width: 43px;
  background:transparent url(../images/control_left.png) no-repeat 0 0;

}

#leftControl:hover {
	z-index: 999;
	background:transparent url(../images/control_left_hover.png) no-repeat 0 0;
}

#rightControl {

  top:70px;z-index: 999;

  right:0;

  background:transparent url(../images/control_right.png) no-repeat 0 0;

}
#rightControl:hover {
	z-index: 999;
	background:transparent url(../images/control_right_hover.png) no-repeat 0 0;

	
}



/** 

 * Style rules for Demo page

 */






.slide h2, .slide p {

  margin:15px;

}



.slide img {

  float:right;

  margin:0 15px;

}

#footer {

  height:100px;

}

#footer p {

  margin:30px auto 0 auto;

  display:block;

  width:560px;

  height:40px;

}

.row {
	width: 100%;
	clear: left;
	height: auto;
	overflow: hidden;
	background: transparent;
border: 0px;
font-size: 100%;
margin: 0px;
padding: 0px;
vertical-align: baseline;
padding: 5px;
padding-left: 3%;
padding-right: 3%;
}

.row .colom {
	float: left;
	
	margin: 10px;
	width: 28%;
	background: #F7F7F7;
	min-height: 220px;
	padding: 10px;
}

 .row .colom h2 {
	margin: 0;	
	font-size: 20px;
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}


.row .colom1 ul li {
	font-size: 11px
	
	
}
